{% extends 'base.html' %}
{% block content %}
<link href="../../static/css/costumer_pages/userprofile.css" rel="stylesheet" />

<nav class="navbar navbar-light bg-light">
    <div class="w3-container">
        <a class="btn btn-secondary" href="/costumer/welcome/">&#8678; Go Back</a>
    </div>
    <div class="w3-container">
        <div class="w3-dropdown-hover w3-right">
        <button id="menuBtn" class="btn btn-secondary">Menu &#8681;</button>
        <div id="menuContent" class="w3-dropdown-content w3-bar-block w3-border">
            <a class="w3-bar-item w3-button" href="/userorders/">My orders</a>
            <a class="w3-bar-item w3-button" href="/userprofile/">My profile</a>
            <div class="dropdown-divider"></div>
            <a id="logoutMenuBtn" class="w3-bar-item w3-button" href="/userlogout/">Logout</a>
        </div>
        </div>
    </div>
</nav>
<h1 id="pageTitle">My profile</h1>
{% for auth_user in auth_users %}
    {% for user in users %}
        {% if auth_user.id == user.userid %}
            <div id="profileDiv" class="alert alert-warning" role="alert">
                <p><b>Username:</b> {{auth_user}} </p>
                <!--<p><b>Userid:</b> {{user.userid}} </p>-->
                <p><b>Phone number:</b> {{user.phoneno}} </p>
                <p><b>Last login (GMT):</b> {{auth_user.last_login}} </p>
                <p><b>Joined at (GMT):</b> {{auth_user.date_joined}} </p>
                {% if user.requestToBeDeleted == False %}
                    <a href="/deleteuserrequest/{{user.userid}}/" class="btn btn-danger">Request to delete my profile</a>
                {% else %}
                <p><b>You profile will be soon deleted by admin!</b></p>
                {% endif %}
            </div>
            {% endif %}
    {% endfor %}
{% endfor %}


  <!-- Footer-->
  <footer class="footer bg-light mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="../contact/" target="_blank">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="../support/" target="_blank">Support</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Food delivery Website 2022. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="https://www.facebook.com/gabor.berta.92/" target="_blank"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/brtgbr/"  target="_blank"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


{% endblock %}